
body{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
  }
li a {
    display: block;
    color: #8a8a8a;
    padding: 13.7px;
    text-decoration: none;
    font-size: 150%;
    font-family: monospace;
  }
  
  /* Change the link color on hover */
li a:hover {
    background-image: linear-gradient(-60deg, #222730, #555)   
  }
.active {
    background-color: #feda6a;

  }


body{
  background-image: linear-gradient(-60deg, #393f4d, #1d1e22);
  border-radius: 6px;
  height: 2000px;
}
#homephoto{
  text-align: center;
  position: relative;
  top: 175px;
}
#nametitle{
  position: absolute;
  top: 30%;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  font-size: 500%;
  color: #d4d4dc;
  width: 100%;
  text-align: center;
}
#profesionalpic{
  height:30%;
  width: 30%;
}

.navigationbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 150px;
}